<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - {{ title }}</title>
</head>
<body>
    <form method="get">
        <label for="fname">Group name:</label>
        <input type="text" id="fname" name="group_name" placeholder="Class A">
        <input type="submit" value="Submit">
    </form>
    <br>
    <table>
    {% for group in groups %}
        <tr>
            <td>{{ group.pk }}</td>
            <td><a href="detail/{{ group.pk }}/">{{ group.group_name }}</a></td>
            <td><a href="update/{{ group.pk }}/">Edit</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
