{% extends 'base.html' %}

{% block title %}Detail of {{ course.course_name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <a href="{%  url 'courses:update' course.pk %}">{{ course.course_name }}</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ course.duration }}</li>
                    <li class="list-group-item">{{ course.description }}</li>
                    <li class="list-group-item">{{ course.price }}</li>
                </ul>
                <a class="btn btn-outline-primary mt-3" href="{%  url 'courses:list' %}">Back to list</a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}
